/node_modules
/public/hot
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/webpack.mix.js
/package.json
/phpunit.xml
/composer.lock
/.gitattributes
/tests/
/resources/lang/zh-CN/
/resources/lang/pt_br/
/resources/lang/ar/
/resources/lang/es/
/resources/lang/tr/
/resources/views/welcome.blade.php
/storage/app/uploads_thumbnail/
/storage/app/uploads/
/storage/logs/
/storage/framework/cache/data/
