*.sqlite
/migrations/2016_09_04_033706_add_table_cms_email_queues.php
/migrations/2016_09_16_035347_add_group_setting.php
/migrations/2016_08_17_225409_add_status_cms_users.php
/migrations/2016_08_20_125418_add_table_cms_notifications.php
/migrations/2016_08_07_154624_add_table_cms_moduls.php
/migrations/2016_10_01_141740_add_method_type_apicustom.php
/migrations/2016_08_07_152214_add_table_cms_privileges_roles.php
/migrations/2016_11_17_102740_create_cms_statistic_components.php
/migrations/2016_08_07_151210_add_table_cms_logs.php
/migrations/2016_09_16_045425_add_label_setting.php
/migrations/2016_11_15_190410_create_cms_statistics.php
/migrations/2016_08_07_152421_add_table_cms_users.php
/migrations/2016_10_01_141846_add_parameters_apicustom.php
/migrations/2016_10_01_141934_add_responses_apicustom.php
/migrations/2016_08_07_152320_add_table_cms_settings.php
/migrations/2016_08_07_152014_add_table_cms_privileges.php
/migrations/2016_09_17_104728_create_nullable_cms_apicustom.php
/migrations/2017_06_06_164501_add_deleted_at_cms_moduls.php
/migrations/2016_08_07_150834_add_table_cms_dashboard.php
/migrations/2016_08_07_151211_add_details_cms_logs.php
/migrations/2016_11_14_141657_create_cms_menus.php
/migrations/2016_08_07_154624_add_table_cms_menus_privileges.php
/migrations/2016_10_01_144826_add_table_apikey.php
/migrations/2016_11_15_132350_create_cms_email_templates.php
/migrations/2016_08_07_145904_add_table_cms_apicustom.php
